/* ----- POPPINS FONT Link ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ----- VARIABLES ----- */
:root{
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);
    --text-color-third: rgb(30, 159, 171);

    --first-color: rgb(110, 87, 224);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: rgb(0, 201, 255);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

}

/* ----- BASE ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ----- SMOOTH SCROLL ----- */
html{
    scroll-behavior: smooth;
}

/* ----- GLOBAL BUTTON DESIGN ----- */
.btn{
    font-weight: 500;
    padding: 12px 20px;
    background: #ebebeb;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    text-decoration: none;
}
.btn>i{
    margin-left: 10px;
}

/* ----- GLOBAL ICONS DESIGN ----- */
i{
    font-size: 16px;
}

/* ------- BASE -------- */
body{
    background: var(--body-color);
}
.container{
    width: 100%;
    position: relative;
    overflow-x: hidden !important;
}
.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ----- NAVIGATION BAR ----- */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}
.nav-logo{
   position: relative;
}
.nav-name{
    font-size: 30px;
    font-weight: 600;
    color: #F8F8F8
}
.nav-logo span{
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--text-color-second);
}
.nav-menu, .nav_menu_list{
    display: flex;
    align-items: center;
}
.nav-menu .nav_list{
    list-style: none;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: var(--color-white);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}
.nav-menu-btn{
    display: none;
}
.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;    
}
.active-link{
    position: relative;
    color: #e0aaff;
    transition: .3;
}
.active-link::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 3px;
    background: #e0aaff;
    border-radius: 10%;
}
.uil-bars {
    color: white;
  }

/* ----- WRAPPER DESIGN ----- */
.wrapper{
    padding-inline: 10vw;
}

/* -- ## --- RESUABLE CSS -- ## -- */
.top-header{
    text-align: center;
}
.top-header h1{
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 10px;
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 15px;
}

/* ----- FEATURED SECTION ----- */
.featured-box {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
    flex-direction: row-reverse;
}

/* ----- FEATURED TEXT SECTION ----- */
.featured-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-right: 20px;
}
.featured-name{
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-block: 20px;
    overflow: hidden;
}
.typedText{
    text-transform: capitalize;
    color: #7b2cbf;
}
.featured-text-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second);
    overflow: hidden;
}
.featured-text-btn{
    display: flex;
    gap: 20px;
    text-decoration: none;
}
.featured-text-btn a{
    display: flex;
    align-items: center;
}
.nav-btn:hover{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
}
.featured-text-btn>.linkedin-btn{
    background: #0072b1;
    color: var(--color-white);
}
.featured-text-btn>.linkedin-btn:hover{
    background: #240046;
}
.featured-text-btn>.github-btn:hover{
    background: #240046;
    color: white;
}

/* ----- FEATURED IMAGE SECTION ----- */
.featured-image {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    width: 50%;
    overflow-y: hidden;
}
.image {
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 50% 20% / 10% 40%;
    overflow: hidden;
    animation: imgFloat 5s ease-in-out infinite;
}
.image img{
    width: 380px;
    height: 380px;
    object-fit: cover;
}
@keyframes imgFloat {
    50%{
        transform: translateY(10px);
        border-radius: 30px;
    }
}

/* ----- SKILLS SECTION ----- */
.skills-header{
    color: white !important;
}
.skills-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 100%;
    background: var(--color-white);
    /* box-shadow: 1px 8px 10px 2px var(--first-shadow-color); */
    border-radius: 20px;
}
.skills-info p{
    text-align: center;
    font-size: 15px;
    color: #777;
}
.skills-btn button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: var(--first-color);
    color: var(--color-white);
    border-radius: 30px;
}
.skills-btn button:hover{
    background: var(--first-color-hover);
}
.skills-box {
    margin: 10px;
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center; 
    align-items: center;  
}
.skills-list span {
    font-size: 14px;
    background: var(--first-color);
    color: var(--color-white);
    padding: 7px 10px;
    border-radius: 5px;
}
.skills-list i {
    padding-right: 5px;
}

/* ----- SKILLS LAYOUT SECTION ----- */
.skills-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.skills-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 400px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
}
.skills-box>i {
    font-size: 50px;
    color: white;
    margin-bottom: 25px;
}
.skills-box h3 {
    font-size: 20px;
    color: #240046;
    overflow: hidden;
}
.skills-image {
    width: 50%;
}
.skills-list span {
    width: 50%;
}
.skills-list > :nth-child(odd),
.skills-list > :nth-child(even) {
    display: flex;
    justify-content: center;
    align-items: center;
}
#skills{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    margin-inline: -10vw; 
    padding-inline: 10vw;
}

/* ----- EXPERIENCE SECTION ----- */
.experience-container-1 {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.experience-img-1 {
    width: 400px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.item-1 {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}
.experience-btn {
    margin-top: 15px;
}
.experience-container-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 30px;
}
.item-2 {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}
.experience-img-2 {
    width: 400px;
    box-shadow: rgba(128, 0, 0, 0.4) 5px 5px, rgba(128, 0, 0, 0.3) 10px 10px, rgba(128, 0, 0, 0.2) 15px 15px, rgba(128, 0, 0, 0.1) 20px 20px, rgba(128, 0, 0, 0.05) 25px 25px;
}

@media (max-width: 540px) {
    .experience-container-1, 
    .experience-container-2 {
    flex-direction: column;
    align-items: center;
  }

  .experience-container-1 .item-1,
  .experience-container-2 .item-2 {
    margin: 0;
  } 
  .item-1,
  .item-2 {
    padding-top: 30px;
  }
  .experience-img-1,
  .experience-img-2 {
    max-width: 100%;
    max-height: 100%
  }
}
@media (max-width: 900px) {
    .experience-container-1, 
    .experience-container-2 {
    flex-direction: column;
    align-items: center;
  }

  .experience-container-1 .item-1,
  .experience-container-2 .item-2 {
    margin: 0;
  } 
  .item-1,
  .item-2 {
    padding-top: 50px;
  }
  .experience-img-1,
  .experience-img-2 {
    width: 600px;
  }
}


/* ----- PROJECTS SECTION ----- */
#projects {
    background-image: linear-gradient(to bottom,#fbc2eb 0%, #a6c1ee 100%);
    margin-inline: -10vw; 
    padding-inline: 10vw;
}
.cards {
  display: flex;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 20px;
  background: white;
  border-radius: 12px;
  scroll-snap-align: start;
  transition: all 0.2s;
}
.card:not(:last-child) {
  margin-right: 10px;
}
.card .card-title {
  font-size: 20px;
}
.card .card-content {
  margin: 20px 0;
  max-width: 85%;
}
.card .card-link-wrapper {
  margin-top: auto;
}
.card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: var(--first-color);
  padding: 6px 12px;
}
.card:hover .card-link {
  background: #240046;
}
.cards::-webkit-scrollbar {
  height: 12px;
}
.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}
.cards::-webkit-scrollbar-thumb {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.cards::-webkit-scrollbar-thumb:hover{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.cards::-webkit-scrollbar-track {
  background: #f1f1f1;
}

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
}
@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 30px;
  }
}
@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
}

/* ----- FOOTER BOX ----- */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding-block: 20px 20px;
}
.top-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-footer p{
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}
.top-footer h3{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: white;
}
.footer-social-icons{
    display: flex;
    gap: 10px;   
}

/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */

@media screen and (max-width: 900px) {
    .nav-button {
        display: none;
    }

    .nav-menu.responsive {
        left: 0;
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    }

    .nav-menu {
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: 0.3s;
    }

    .nav_menu_list {
        flex-direction: column;
    }

    .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .featured-box {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    .featured-text {
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }

    .social_icons {
        margin-top: 2em;
    }

    .featured-image {
        order: 1;
        justify-content: center;
        min-height: 200px;
        width: 100%;
        margin-top: 100px;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .col {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-info,
    .contact-info {
        width: 100%;
    }

    .project-container {
        justify-content: center;
    }

    .project-box {
        width: 80%;
    }
    
}

/* Media Query: Max-width 540px */
@media screen and (max-width: 540px) {
    .featured-name {
        font-size: 40px;
    }

    .skills-box {
        width: 100%;
    }

    .project-box {
        width: 100%;
    }

    .form-inputs {
        flex-direction: column;
    }

    .input-field {
        width: 100%;
    }

    .col p {
        margin-bottom: 15px;
    }
    
    .btn {
        padding: 10px 16px;
        font-size: 14px;
    }
}

/* Media Query: Max-width 1200px */
@media screen and (max-width: 1200px) {
    .nav-button {
        display: none;
    }

    .nav-menu.responsive {
        left: 0;
    }

    .nav-menu {
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(40, 39, 41, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: 0.3s;
    }

    .nav_menu_list {
        flex-direction: column;
    }

    .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .featured-text {
        padding: 0;
    }

    .image,
    .image img {
        width: 320px;
        height: 320px;
    }
}
@media screen and (max-width: 1024px) {
    .nav-button {
        display: none;
    }

    .nav-menu.responsive {
        left: 0;
    }

    .nav-menu {
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(40, 39, 41, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: 0.3s;
    }

    .nav_menu_list {
        flex-direction: column;
    }

    .nav-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .featured-text {
        padding: 0;
    }

    .image,
    .image img {
        width: 320px;
        height: 320px;
    }
}